<!DOCTYPE html>
    <html>
    <head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css?dp-version=1578490236" />
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    
    </head>
    <body>

    <div id="map" style="position:absolute; width:49%; height:100%; background:grey" ></div>
    <div id="panel" style="position:absolute; width:49%; left:51%; height:100%; background:inherit" ></div>

    <!-- <script  type="text/javascript" charset="UTF-8">


    </script> -->
    <script type="text/javascript" src='../static/test.js'></script>
    </body>
    </html>